body{
  background: #aaa;
  font-family: tahoma;
  padding:0 20px;
}

.container{
  display: flex;
  justify-content: center;
  padding:50px;
}

.accr{
  width:310px;
}

.text{
  position:absolute;
}

#date{
  border:1px solid #000;
  border-style:solid none;
  text-align:center;
  padding:3px;
  background:#bbb;
}

table{
  border-collapse: collapse;
  font: 1rem tahoma;
  text-align: right;
  width: 30%;
  max-width:500px;
  cursor:default;
}

th{
  text-align:center;
}

tr{
  background:#ddd;
}

tr:nth-child(10n+1){
  background:rgb(255, 255, 255);
}

td, th{
  border: 1px solid #000;
  padding: 2px 10px;
}

tr:hover:not(.head){
  background: rgb(255, 221, 227);
  transition:200ms 150ms ;
}